* {
  box-sizing: border-box;
}

#about {
  margin-top: 7.5rem;
}

.title {
  color: #e54201;
}

.wrapper {
  background-color: #115810;
}

.wrapper img {
  height: 200px;
}

.team {
  margin: 1rem 0 0 0;
  padding: 0 20px;
}

@media screen and (max-width: 992px) {
  #goals {
    display: flex;
    flex-direction: column-reverse;
  }
}