@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;600;700&display=swap");

* {
  font-family: "Inter", sans-serif;
}

.detail__events {
  margin-top: 5rem;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  font-weight: 400;
  height: 100vh;
}

.detail__events main .card__image h3 {
  margin-bottom: -1rem;
  font-size: 22px;
  font-weight: 600;
  color: #000;
}

.detail__events main .card__image p {
  margin-top: -0.5rem;
  font-size: 16px;
  color: #000;
  font-weight: 400;
}

.detail__events main .card__detail h4 {
  color: #000;
  font-weight: 700;
  font-size: 24px;
}

.detail__events main .card__detail .date-detail,
.detail__events main .card__detail .time-detail,
.detail__events main .card__detail .ticket-detail,
.detail__events main .card__detail .location-detail,
.detail__events main .card__detail .registration-detail {
  color: #ce3b01;
  font-size: 16px;
}

.detail__events main .card__detail p,
.detail__events main .card__detail p,
.detail__events main .card__detail p,
.detail__events main .card__detail p,
.detail__events main .card__detail p {
  color: #000 !important;
  font-weight: 400;
}

.detail__events main .card__detail .btn-primary {
  background: #ce3b01;
  border: #ce3b01;
  padding: 8px 12px;
  font-weight: 600;
  color: #fff;
  transition: 0.2s ease-out;
}

.detail__events main .card__detail .btn-primary:hover,
.daftar__events main .card__detail .btn-primary:hover {
  background: #e0612f;
  border: #e0612f;
}

.detail__events main .card__image p {
  text-align: justify;
}

.detail__events main .card__image .btn-dark {
  padding: 8px 12px;
  font-weight: 600;
  margin-bottom: 1.8rem;
}

/* Daftar Events */
.daftar__events {
  margin-top: 5rem;
}

.daftar__events main .card__detail {
  background: #f0f0f0;
}

.daftar__events main h4 {
  font-size: 24px;
  font-weight: 600;
}

.daftar__events main .text__date {
  color: #ce3b01;
}

.daftar__events main .ticket__detail {
  color: #ce3b01;
  margin-right: 10px;
}

.daftar__events main .card__detail input {
  height: 45px;
}

.daftar__events main .card__detail textarea {
  height: 90px;
}

.daftar__events main .card__detail h3 {
  color: #000;
  font-size: 22px;
  font-weight: 600;
}

.daftar__events main .card__detail .btn-primary {
  background: #e54201;
  border: #e54201;
  padding: 8px 12px;
  font-weight: 600;
  transition: 0.2s ease-out;
}
