.card__events {
  width: 22rem;
  height: auto;
  margin-bottom: 3.8rem;
}

.card__events .date i,
.card__events .location i {
  color: #ce3b01;
  font-size: 18px;
}

.card__events .btn__join a {
  background: #ce3b01;
  border: #ce3b01;
  padding: 8px 12px;
  font-weight: 600;
  color: #fff;
  transition: 0.2s ease-out;
}
.card__events .btn__join a:hover {
  background: #e0612f;
  border: #e0612f;
}

@media (max-width: 1159px) {
  .card__events {
    width: 18rem;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 1028px) {
  .card__events {
    width: 18rem;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 1000px) {
  .card__events {
    width: 18rem;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 992px) {
  main .title__events {
    text-align: center !important;
  }

  .card__events {
    width: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 768px) {
  main .title__events {
    text-align: center !important;
  }

  .card__events {
    width: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 576px) {
  main .title__events {
    text-align: center !important;
  }
  main .title__events p {
    display: none;
  }
  main .title__events h2 {
    margin-bottom: 1.5rem;
  }
  .card__events {
    width: 20rem;
    margin-top: -0.5rem;
  }
}
