@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;600;700&display=swap");

:root {
  --bgContentFooter: #115810;
  --colorPrimary: #ffffff;
}

* {
  list-style: none;
  font-family: "Inter", sans-serif;
}

.component__footer {
  background: var(--bgContentFooter);
  color: var(--colorPrimary);
  padding: 3.2rem;
}

.component__footer h1 {
  font-size: 28px;
  font-weight: 600;
  margin-top: -1rem;
}

.component__footer p {
  font-size: 16px;
}

.component__footer img {
  width: 45px;
  height: 45px;
  margin-bottom: 1rem;
}

.component__footer .content__footer h3,
.about__footer h3,
.social__footer h3 {
  font-size: 20px;
  font-weight: 600;
}

.component__footer .content__footer ul li a,
.component__footer .about__footer ul li a {
  margin-left: -32.2px;
  color: var(--colorPrimary);
  cursor: pointer;
  text-decoration: none;
}

.social__footer > .icon__social > span {
  font-size: 24px;
  cursor: pointer;
}
