* {
  box-sizing: border-box;
}

/* .about {
  margin-top: 100px;
} */

.title {
  color: #e54201;
}

.wrapper {
  background-color: #115810;
}

.wrapper img {
  height: 200px;
}

.team {
  margin: 1rem 0 0 0;
  padding: 0 20px;
}
